---
import Subheader from '../components/Subheader.astro';
import Layout from '../layouts/Layout.astro';

import Announcement from '../components/Announcement.astro';
import Navbar from '../components/Navbar.astro';

import { games } from '../data/data.ts';
import { category } from '../data/category.ts';

export const prerender = true;
---
<Layout title="Home Page">
  <div class="inner-content">
    <div class="row gy-4">
      <div class="col-xl-9">
        <div class="inner-item-heading mb-1">
          <h2 class="f-24 fw-700 text-white text-uppercase montserrat-font mb-0">PRACTICE GAMES</h2>
          <Subheader />
        </div>
        <div class="games-tabs-sec">
          <div class="games-tabs-list">
            <Navbar {category} />
            <div class="icon-input" id="searchForm">
              <input
                class="icon-input__text-field search"
                name="search"
                id="search"
                type="text"
                placeholder="Search"
              />
              <i class="icon-input__icon fa-solid fa-magnifying-glass"></i>
            </div>
          </div>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab" tabindex="0">
              {games.length > 0 ? (
                <div class="slot-slider">
                  {games.map((data, key) => (
                    <div class={`slider-item slider-item-${data.slug}`}>
                      <div class="slider-frame">
                        <div class="slider-img">
                          <img src={data?.image} alt={data.name} class="img-fluid" />
                        </div>
                      </div>
                      <a href={`/practice-room/${data.slug}`} class="btn btn-secondary gradient-bg montserrat-font rounded-pill f-14 fw-600 w-100">{data.name}</a>
                    </div>
                  ))}
                </div>
              ) : (
                <h4 class="text-white">Coming soon</h4>
              )}
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end pager allCat" id="allCat"></ul>
              </nav>
            </div>
            {category.map((cat, catKey) => (
              <div class="tab-pane fade" id={`nav-${cat.slug}`} role="tabpanel" aria-labelledby={`nav-${cat.slug}-tab`} tabindex="0">
                {cat.getGame?.length > 0 ? (
                  <div class="slot-slider">
                    {cat.getGame.map((data, key) => (
                      <div class={`slider-item slider-item-${data.slug}`}>
                        <div class="slider-frame">
                          <div class="slider-img">
                            <img src={data.image} alt={data.name} class="img-fluid" />
                          </div>
                        </div>
                        <a href={`/practice-room/${data.slug}`} class="btn btn-secondary gradient-bg montserrat-font rounded-pill f-14 fw-600 w-100">{data.name}</a>
                      </div>
                    ))}
                  </div>
                ) : (
                  <h4 class="text-white">Coming soon</h4>
                )}
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-end pager" id={`${cat.slug}Cat`}></ul>
                </nav>
              </div>
            ))}
          </div>
        </div>
      </div>
      <div class="col-xl-3">
        <Announcement 
          announcements={[
            "New tournaments starting soon.  Check back frequently.",
            "Check out our Partners Page to see which nonprofits and celebrities we are working with.",
            "If you represent a NPO and would like to benefit from partnering with us, drop us a note.",
            "The prize values in our tournaments will continue to grow.  Check back regularly."
          ]} 
          future_tournaments={[]} 
          winning_data={[]} 
        />
      </div>
    </div>
  </div>

	<div slot="scripts">
		<script type="text/javascript">
			$(document).ready(function () {
				$('#nav-all-tab').addClass('active');
				$('#nav-all').addClass('active show');
			});
			/*$('.nav-link').on('click',function () {
				var id = $(this).attr('id');
				if(id == 'nav-all-tab'){
					$('#searchForm').show();
				}else{
					$('#searchForm').hide();
				}
			});*/
      $("#search-button").on("click", () => {
        console.log({
          search: $("#search-form #search")
        })
        $("#search-form #search").focus();
      })
			$(".search").on('keyup',function (){
				if($(this).val() != ''){
					$.ajax({
						type:"GET",
						url: '/search',
						data: {text: $(this).val()},
						success: function(response) {
							if(response.status == 'success'){
                console.log("---Success---");
                $('.slider-item').hide();
								$.each(response.data,function(key,value){
                  console.log({
                    key,
                    value
                  })
									$('.slider-item-'+value).show();
								});
							} else {
                $('.slider-item').show();
              }
						}
					});
				}else{
					$('.slider-item').show();
				}
			});
		</script>
	</div>
</Layout>